@model IEnumerable<Book>


@{
    var Author = Enum.GetValues(typeof(Author));
    var Genre = Enum.GetValues(typeof(Genre));
    var Language = Enum.GetValues(typeof(Language));
    var Publisher = Enum.GetValues(typeof(Publisher));
    var Shelf = Enum.GetValues(typeof(Shelf));
}


<nav>

    <h1 class="title">Books</h1>



    <a asp-action="AddBook"><i class="bi bi-plus-lg" style="color: #000;"></i></a>
    

</nav>


<div class="Search">

    <form method="post">

        <input  type="text" name="Name"  placeholder="Name" style="width: 146px;" />
        <input type="text" name="Description" placeholder="Description" />
        
        <select name="Author">
            <option value="@null">Author</option>
            @foreach (var item in Author)
            {
                <option value="@item">@item</option>
            }
        </select>

        <select name="Genre">
            <option value="@null">Genre</option>
            @foreach (var item in Genre)
            {
                <option value="@item">@item</option>
            }
        </select>

        <select name="Publicher">
            <option value="@null">Publicher</option>
            @foreach (var item in Publisher)
            {
                <option value="@item">@item</option>
            }
        </select>

        <select name="Shelf">
            <option value="@null">Shelf</option>
            @foreach (var item in Shelf)
            {
                <option value="@item">@item</option>
            }
        </select>

        <button type="submit">Search</button>
        <button formmethod="get">Reset</button>

    </form>


    <hr />

    <main>

            @foreach (var item in Model)
            {
                <div>
                    <input disabled value="@item.Name" type="text"  style="width: 146px;" />

                    <input disabled value="@item.Description" type="text" />

                    <input class="enum" disabled value="@item.Author" type="text"/>

                    <input class="enum" disabled value="@item.Genre" type="text" />

                    <input class="enum" disabled value="@item.Publicher" type="text" />

                    <input class="enum" disabled value="@item.Shelf" type="text" />

                    <a asp-action="UpdateBook" asp-route-name="@item.Name"><i class="bi bi-pencil-fill" style="font-size: 25px;"></i></a>

                    <form method="post" asp-action="Delete" asp-route-name="@item.Name">
                        <button type="submit" style="padding: 0; background: none;">
                            <i class="bi bi-x" style="font-size: 37px; color: black;"></i>
                        </button>
                    </form>
                </div>
            }

    </main>



</div>


<style>

    nav
    {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 50%;

        font-size: 40px;
        font-family: monospace;
    }

    .title
    {
        font-weight: 200;
    }

    form
    {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    input[type=text]
    {
        padding: 10px 5px 10px 10px;
        outline: none;
    }

    select
    {
        padding: 10px 90px 10px 10px;
        outline: none;
    }

    .enum
    {
        padding: 10px 90px 10px 10px;
    }

    button
    {
        padding: 11px 30px;
        background: #8b8b8b;
        color: #fff;
        border: none;
    }

    hr
    {
        padding-block: 1px;
        background: black;
    }


    main
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-block: 41px;
        gap: 19px;
    }

    main div
    {
        display: flex;
        align-items: center;
        gap: 10px;
    }


</style>


